#clockContainer{
    position: relative;
    width: 50%;
    height: 50vw;
    background: url('Clock.png') no-repeat center;
    background-size: 70%;
    margin: auto;
}


#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    height: 80px;
    width: 1.5%;
    top: 33%;
    left: 49.5%;
} 

#minute{
    height: 108px;
    width: 1.2%;
    top: 28%;
    left: 49.3%;
}

#second{
    height: 150px;
    width: 0.9%;
    top: 22%;
    left: 49.4%;
}